body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  width:100%;
  max-width:420px;
}

.card{
  background:#1e293b;
  padding:30px;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

input{
  padding:15px;
  border:none;
  border-radius:10px;
  background:#0f172a;
  color:white;
  border:1px solid #334155;
}

button{
  padding:15px;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
  cursor:pointer;
  font-weight:bold;
}

button:hover{
  opacity:0.9;
}

.hidden{
  display:none;
}

.link{
  color:#60a5fa;
  cursor:pointer;
  text-align:center;
}
